*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: calc(14px + 1.5vw);
  font-size: clamp(16px, calc(14px + 1.5vw), 32px);

  --color-1: #910606;
  --color-2:  hsl(141, 82%, 20%);
  --color-2--light: #cec;
  --color-3:  hsl(0, 0%, 90%);
  --color-4: #FCE100;

  --snow-z-index: 1;
  --tile-z-index: calc(var(--snow-z-index) + 1);
  --select-z-index: calc(var(--tile-z-index) + 1);
}

body {
  background-color: var(--color-1);
  font-family: monospace;
  margin: 0;
  padding: 2rem;
}

h1 {
  flex-grow: 10000;
  color: #FCE100;
  text-align: center;
}

main {
  margin: 0 auto;
  max-height: 90vh;
  max-width: 20rem;
  max-width: min(20rem, 90vw);
}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.75rem;
}

.bingo-tile {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
  border: 2px solid;
  color: var(--color-2);
  padding: 0;
  position: relative;
  z-index: var(--tile-z-index);
}

.bingo-tile::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.bingo-tile:not([data-option=""]) {
  background-color: var(--color-2--light);
}

.bingo-tile[data-free-tile="true"]::before {
  content: "🎄";
  font-size: 1.5rem;
  left: 50%;
  padding-bottom: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bingo-tile[data-free-tile="true"],
.bingo-tile[data-crossed-off="true"] {
  background-color: var(--color-2);
  color: white;
}

.bingo-options {
  display: none;
  font-family: inherit;
  font-size: 1.25em;
  left: 50%;
  padding: 0.25em 0.5em; 
  position: absolute;
  transform: translateX(-50%);
  z-index: var(--select-z-index);
}

.bingo-grid .bingo-options {
  display: block;
}

.bingo-tile-text {
  font-family: monospace;
  font-size: 0.5rem;
  font-weight: 600;
  left: 50%;
  max-width: 90%;
  overflow-wrap: break-word;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--select-z-index);
}

canvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@supports (pointer-events: none) {
  canvas {
    pointer-events: none;
    z-index: var(--snow-z-index);
  }
}

.toggle, .toggle::after, .toggle *, .toggle *::after {
  transition: 0.25s ease transform;
}

.controls {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.control {
  align-items: center;
  color: var(--color-4);
  display: flex;
  font-size: 0.5rem;
}

.toggle {
  display: inline-block;
  height: 2.125em;
  margin: 0.5em;
  position: relative;
  width: 3.75em;
}

.toggle input {
  display: none;
}

.toggle .trigger {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.toggle .trigger, .toggle .trigger::after {
  border-radius: 1rem;
}

.toggle .trigger::after {
  background-color: white;
  bottom: 0.25em;
  content: "";
  height: 1.625em;
  left: 0.25em;
  position: absolute;
  width: 1.625em;
}

.toggle .trigger:hover {
  cursor: pointer;
}

.toggle input:checked ~ .trigger {
  background: var(--color-2);
}

.toggle input:checked ~ .trigger::after {
  transform: translateX(100%);
}

.toggle.x2 {
  transform: scale(2);
}

.randomize-button,
.reset-button {
  background-color: white;
  border: 2px solid var(--color-2);
  font-family: inherit;
  font-size: 0.5rem;
  padding: 0.25em 0.5em;
}

/**
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}