*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: calc(14px + 1.5vw);
  font-size: clamp(16px, calc(14px + 1.5vw), 32px);

  --color-1: hsl(0, 70%, 50%);
  --color-2:  hsl(141, 82%, 20%);
  --color-2--light: #cec;
  --color-3:  hsl(0, 0%, 90%);

  --snow-z-index: 1;
}

body {
  background-color: var(--color-1);
  font-family: monospace;
  margin: 0;
  padding: 2rem;
}

h1 {
  flex-grow: 10000;
  font-style: italic;
  color: var(--color-2);
  text-align: center;
}

main {
  margin: 0 auto;
  max-height: 90vh;
  max-width: 20rem;
  max-width: min(20rem, 90vw);
}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.75rem;
}

.bingo-tile {
  border: 2px solid;
  color: var(--color-2);
  padding: 0;
  position: relative;
}

.bingo-tile::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.bingo-tile:not([data-option=""]) {
  background-color: var(--color-2--light);
}

.bingo-tile[data-free-tile="true"]::before {
  content: "🎄";
  font-size: 1.5rem;
  left: 50%;
  padding-bottom: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bingo-tile[data-free-tile="true"],
.bingo-tile[data-crossed-off="true"] {
  background-color: var(--color-2);
  color: white;
}

.bingo-options {
  display: none;
  font-family: inherit;
  font-size: 1.25em;
  left: 50%;
  padding: 0.25em 0.5em; 
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}

.bingo-grid .bingo-options {
  display: block;
}

.bingo-tile-text {
  font-family: monospace;
  font-size: 0.5rem;
  font-weight: 600;
  left: 50%;
  max-width: 90%;
  overflow-wrap: break-word;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@supports (pointer-events: none) {
  canvas {
    pointer-events: none;
    z-index: var(--snow-z-index);
  }
}

.toggle, .toggle::after, .toggle *, .toggle *::after {
  transition: 0.25s ease transform;
}

.control {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 0.5rem;
}

.toggle {
  display: inline-block;
  height: 2.125em;
  margin: 0.5em;
  position: relative;
  width: 3.75em;
}

.toggle input {
  display: none;
}

.toggle .trigger {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.toggle .trigger, .toggle .trigger::after {
  border-radius: 1rem;
}

.toggle .trigger::after {
  background-color: white;
  bottom: 0.25em;
  content: "";
  height: 1.625em;
  left: 0.25em;
  position: absolute;
  width: 1.625em;
}

.toggle .trigger:hover {
  cursor: pointer;
}

.toggle input:checked ~ .trigger {
  background: var(--color-2);
}

.toggle input:checked ~ .trigger::after {
  transform: translateX(100%);
}

.toggle.x2 {
  transform: scale(2);
}

.reset-button {
  background-color: white;
  border: 2px solid var(--color-2);
  font-family: inherit;
  font-size: 0.75rem;
  margin-top: 1rem;
  padding: 0.25em 0.5em;
}